<nav class="navbar navbar-expand-lg mb-3 navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    Category
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/products/Caps" class="dropdown-item">Caps</a>
                    <a href="/products/T-Shirts" class="dropdown-item">T-Shirts</a>
                    <a href="/products/Mobile-Covers" class="dropdown-item">Mobile Covers</a>
                    <a href="/products/Mugs" class="dropdown-item">Mugs</a>
                    <a href="/products/Notebooks" class="dropdown-item">Notebooks</a>
                    <a href="/products/Posters" class="dropdown-item">Posters</a>
                    <a href="/products/Paintings" class="dropdown-item">Paintings</a>
                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i> Shopping Cart
                    {{#if session.cart.totalQty }}
                    <span class="badge badge-danger" id="total-qty">{{session.cart.totalQty}}</span>
                    {{ else }}
                    <span class="badge badge-danger" id="total-qty"></span>
                    {{/if}}

                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if login }}
                    <a class="dropdown-item" href="/user/profile">User Account</a>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{ else }}
                    <a class="dropdown-item" href="/user/login">Login</a>
                    <a class="dropdown-item" href="/user/register">Register</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>