<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <!--<strong class="black-text">YuZu</strong>-->
            <img src="/images/logo.png" height="30px" alt="">
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Left -->
            <ul class="navbar-nav mr-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/">
                        HOME
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-primary">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        COLLECTION
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">All</a>
                        <a class="dropdown-item" href="/products/T-Shirts">T-Shirts</a>
                        <a class="dropdown-item" href="/products/Mobile-Covers">Mobile Covers</a>
                        <a class="dropdown-item" href="/products/Mugs">Mugs</a>
                        <a class="dropdown-item" href="/products/Notebooks">Notebooks</a>
                        <a class="dropdown-item" href="/products/Posters">Posters</a>
                        <a class="dropdown-item" href="/products/Paintings">Paintings</a>
                        <a class="dropdown-item" href="/products/Caps">Caps</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/">
                        GALLERY
                    </a>
                </li>
            </ul>
            <!--Left -->

            <!-- Right -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="input-group">
                        <input type="text" name="query" id="query" class="form-control input-search" placeholder="Search"
                            aria-label="Search" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-md btn-dark m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="search-btn">
                                <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <ul class="list-group" id="result">
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/shopping-cart">
                        {{#if session.cart.totalQty }}
                        <span class="badge red z-depth-1 mr-1" id="total-qty">{{session.cart.totalQty}}</span>
                        {{ else }}
                        <span class="badge red z-depth-1 mr-1" id="total-qty"></span>
                        {{/if}}
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        {{#if login }}
                        <a class="dropdown-item a-item" href="/user/profile">My Orders</a>
                        <a class="dropdown-item a-item" href="/user/logout">Logout</a>
                        {{ else }}
                        <a class="dropdown-item a-item" href="/user/login">Login</a>
                        <a class="dropdown-item a-item" href="/user/register">Register</a>
                        {{/if}}
                    </div>
                </li>

                <li class="nav-item">
                    <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/yuzu_in/" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Navbar -->