.btn {
    border-radius: 0;
}

.btn-outline-dark {
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.btn-dark:hover {
    color: white;
    background: black;
}

.card {
    border-radius: 0;
}

.input-search {
    border-radius: 0;
}

#result {
    position: absolute;
    width: 91%;
    max-width: 300px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 500px;
    box-sizing: border-box;
    z-index: 1001;
}

.dropdown-menu {
    border-radius: 0;
    background: white;
    color: black;
}

.form-control {
    border-radius: 0;
}

.toast-success {
    background-color: #2ECC71;
}

.toast-error {
    background-color: #E74C3C;
}