body {
    background: #FBFCFC;
}

.btn {
    border-radius: 0;
}

.card {
    border-radius: 0;
}

.card img {
    max-height: 150px;
}

.card .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.form-control {
    border-radius: 0;
}

.dropdown-menu {
    margin-top: 8px;
    border-radius: 0;
    opacity: 0.9;
}

.dropdown-item:hover {
    color: #fff;
    background: #2ECC71;
}

.add-item:hover {
    color: #fff;
    background: #2ECC71;
}

.remove-item:hover {
    color: #fff;
    background: #E74C3C;
}

ul .list-group {
    border-radius: 0;
}

li .list-group-item {
    border-radius: 0;
}

.badge {
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.alert-s {
    background: #2ECC71;
    color: #fff;
}

.alert-d {
    background: #E74C3C;
    color: #fff;
}

form {
    background-color: #fff;
    padding: 30px;
    border: solid 2px;
    border-color: #FBFCFC;
}